@model int
@{
    ViewBag.Title = "Seo Route ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Route now  is : </h1>
<br />
<h1> www.Site.com/EngineerName   </h1><br />
<h1>
    - not www.Site.com/Engineers/EngineerDetails?ID=@Model
</h1>
<h2>Parameter value is : @Model</h2>


